<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
          background-image: url('https://media.istockphoto.com/id/1198111486/vector/software-update-loading-process-upgrade-concept-vector-illustration-in-flat-style-upgrade.jpg?s=612x612&w=0&k=20&c=mq3Se_ogFGTCF9Xhawp7rzdgjY9c0jHUpyFhfpOK7Zg=');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
    
        </style>
</head>
<body>
    <a href="/"><button> Home</button></a>
    
<h2><u>Update Student Information</u></h2>


<form action="studentDataUpdated" method="post">
    {{with $a := .data}}
    <div>
        {{range $item := .}}
<table border="0">
    <input id="studentId" maxlength="50" name="studentId" value="{{index $item 0}}" hidden type="text" />
<tbody>
<tr>
<td><label for="studentName">Student Name: </label></td>
<td><input id="studentName" maxlength="50" name="studentName" value="{{index $item 1}}" type="text" /></td>
</tr>

<tr>
<td><label for="fatherName">Father Name: </label></td>
<td><input id="fatherName" maxlength="50" name="fatherName" value="{{index $item 2}}" type="text" /></td>
</tr>

<tr>
<td><label for="class">Class: </label></td>
<td><input id="class" maxlength="50" name="class" value="{{index $item 3}}" type="text" /></td>
</tr>

<tr>
<td><label for="age">Age: </label></td>
<td><input id="age" maxlength="50" name="age" value="{{index $item 4}}" type="text" /></td>
</tr>

<tr>
<td align="center"><input name="Submit" type="Submit" value="Add" /></td>
</tr>

</tbody>
</table>
{{ end }}
    </div>
    {{end}}
</form>

</body>
</html>